<p>
    <b>About this tool:</b>
    This tool was created because I could not find any useable image to gcode converters suitable for lasers based on grbl.
    <a href="http://wiki.nebarnix.com/wiki/Img2gco">Full Documentation</a>
</p>
<p>
    <b>A note on commands per second:</b>
    My grbl can handle quite a lot of commands per so that I can run at least 330 commands per second over USB.
    This strongly depends on the gCode sender which is system speed dependant if not pulled from an SD card.
    Please don't do anything major on your system while an image is engraved.
    It can leave ugly marks on your piece when the laser head suddenly stalls because it waits
    for the next command and the buffer ran empty. This is also a possible cause for fire!
</p>
